body {
    background-image: url('https://images5.alphacoders.com/125/1256204.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#search {
    width: 220px;
}

.btn-primary {
    margin-right: 0.5rem;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
}
.card-list{
    margin-top: 90px;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #77692b;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    vertical-align: top;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100px;
    max-height: 150px;
    border-radius: 5px;
}



.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-body {
    padding: 10px;
}

.modal-body p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.custom-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.card-image {
    padding-right: 25px;
    width: 100%;
}
.card-description {
    font-size: 1rem;
    margin: 0.5rem 0;
}

@media (max-width: 576px) {
    .card-list{
        margin-top: 120px;
    }
    .search-container {
        flex-direction: column;
    }

    .col-12 {
        margin-top: 10px;
    }

    .col-12 .form-control {
        margin-bottom: 10px;
    }
    .card {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}
